<a href="https://colab.research.google.com/github/amber-gupta/Inventory_Management_System/blob/main/Adding_new_products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [2]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

## Adding New Item into Inventory

In [13]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1011
Enter name:Pranav
Enter price:22
Enter quantity:1

In [14]:
record

{'1001': {'name': 'Kapil', 'pr': 3231, 'qn': 2},
 '1002': {'name': 'Aman', 'pr': 100, 'qn': 1},
 '1003': {'name': 'Rahul', 'pr': 5000, 'qn': 4},
 '1004': {'name': 'Salman', 'pr': 42343, 'qn': 5},
 '1005': {'name': 'Anil', 'pr': 100000, 'qn': 9},
 '1006': {'name': 'Dhruv', 'pr': 4424342, 'qn': 10},
 '1007': {'name': 'Krish', 'pr': 19, 'qn': 1},
 '1008': {'name': 'Monika', 'pr': 90, 'qn': 1},
 '1009': {'name': 'Om', 'pr': 42342, 'qn': 3},
 '1010': {'name': 'Sid', 'pr': 99999, 'qn': 6},
 '1011': {'name': 'Pranav', 'pr': 22, 'qn': 1}}

In [15]:
del record['1001']

In [16]:
record

{'1002': {'name': 'Aman', 'pr': 100, 'qn': 1},
 '1003': {'name': 'Rahul', 'pr': 5000, 'qn': 4},
 '1004': {'name': 'Salman', 'pr': 42343, 'qn': 5},
 '1005': {'name': 'Anil', 'pr': 100000, 'qn': 9},
 '1006': {'name': 'Dhruv', 'pr': 4424342, 'qn': 10},
 '1007': {'name': 'Krish', 'pr': 19, 'qn': 1},
 '1008': {'name': 'Monika', 'pr': 90, 'qn': 1},
 '1009': {'name': 'Om', 'pr': 42342, 'qn': 3},
 '1010': {'name': 'Sid', 'pr': 99999, 'qn': 6},
 '1011': {'name': 'Pranav', 'pr': 22, 'qn': 1}}